# 激活开发环境配置
spring:
  profiles:
    active: dev
  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher
logging:
  level:
    org:
      springframework:
        web:
          servlet:
            mvc:
              method:
                annotation=DEBUG: