<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
        namespace="com.doc.web.sys_role_menu.mapper.RoleMenuMapper">
    <insert id="saveRoleMenu">
        <!--values 关键字后承接具体要插入的数据。-->
                INSERT INTO sys_role_menu (role_id, menu_id) values
        <!--<foreach> 标签的核心作用（循环生成数据项）
     collection="menuIds"：指定要遍历的参数集合（DAO 方法中 @Param("menuIds") List<Long> menuIds），即所有要关联的菜单 ID -->

        <foreach collection="menuIds" item="menuId" separator=",">
            (#{roleId},#{item})
        </foreach>
</insert>
</mapper>